[submodule "presentationsRevealJS"]
	path = presentationsRevealJS
	url = https://github.com/Dutiens/presentationsRevealJS.git
[submodule "tirageAuSortNoel"]
	path = tirageAuSortNoel
	url = https://github.com/MacBootglass/tirageAuSortNoel.git
[submodule "ressources/bootstrap"]
	path = ressources/bootstrap
	url = https://github.com/twbs/bootstrap.git
