[submodule "projets/tirageAuSortNoel"]
	path = projets/tirageAuSortNoel
	url = https://github.com/MacBootglass/tirageAuSortNoel.git
[submodule "projets/presentationsRevealJS"]
	path = projets/presentationsRevealJS
	url = https://github.com/Dutiens/presentationsRevealJS.git
