[submodule "projets/tirageAuSortNoel"]
	path = projets/tirageAuSortNoel
	url = https://github.com/MacBootglass/tirageAuSortNoel.git
[submodule "projets/presentationsRevealJS"]
	path = projets/presentationsRevealJS
	url = https://github.com/Dutiens/presentationsRevealJS.git
[submodule "ressources/librairies/bootstrap"]
 	path = ressources/librairies/bootstrap
 	url = https://github.com/twbs/bootstrap.git
[submodule "ressources/librairies/progressbar.js"]
	path = ressources/librairies/progressbar.js
	url = https://github.com/kimmobrunfeldt/progressbar.js.git
