$background: rgb(32, 32, 32);
$dimBtn: 50px;
$coulPanSup: rgb(78, 78, 78);
$coulPanInf: rgb(182, 182, 182);

html {
  body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: $background;
  }
}

#sectionProjet {
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.play {
  float: right;
  height: $dimBtn;
  width: $dimBtn;
  border-radius: $dimBtn;
  font-size: 30px;
  border-style: solid;
  border-color: #FFFFFF;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.play:hover {
  color:white;
}

.panel-primary {
  border-color: $coulPanSup !important;
  .panel-heading {
     background: $coulPanSup !important;
     border-color: $coulPanSup !important;
     color: white !important;
   }
}

.panel-info {
   border-color: $coulPanInf !important;
  .panel-heading {
    background: $coulPanInf !important;
    border-color: $coulPanInf !important;
    color: white !important;
  }
}

.navbar-fixed-bottom {
  .container {
    padding-top: 5px;
    float: right;
    .list-inline {
      margin: 0px !important;
      padding: 0px !important;
      float: right;
    }
    .logo {
      height: 40px;
    }
  }
}
